In [1]:
class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)

    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

heroes = Heroes()
heroes.inputHero("Layla", 270, 118, 15, 2500, 424)
heroes.inputHero("Cyclops", 250, 107, 18, 2461, 500)
heroes.inputHero("Minotaur", 265, 123, 25, 2705, 0)
heroes.inputHero("Saber", 265, 121, 17, 2475, 443)
heroes.inputHero("Roger", 235, 120, 22, 2580, 450)
heroes.inputHero("Nana", 250, 110, 17, 2325, 499)

heroes.info()

Name, Role
Layla ,  MARKSMAN
Cyclops ,  MAGE
Minotaur ,  TANK
Saber ,  ASSASSIN
Roger ,  FIGHTER
Nana ,  SUPPORT

In [2]:
import pandas as pd

raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, ".", "."],
        'postTestScore': ["25,000", "94,000", 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
df

  first_name last_name  age preTestScore postTestScore
0      Jason    Miller   42            4        25,000
1      Molly  Jacobson   52           24        94,000
2       Tina         .   36           31            57
3       Jake    Milner   24            .            62
4        Amy     Cooze   73            .            70

In [3]:
import pandas as pd

df = pd.read_csv('D://train.csv')
df

       name  movementSpeed  physicalAttack  armor    hp  mana
0     Layla            270             118     15  2500   424
1   Cyclops            250             107     18  2461   500
2  Minotaur            265             123     25  2705     0
3     Saber            265             121     17  2475   443
4     Roger            235             120     22  2580   450
5      Nana            250             110     17  2325   499

In [4]:
import pandas as pd

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

           name  movementSpeed  physicalAttack  armor    hp  mana
0         Layla            270             118     15  2500   424
1       Cyclops            250             107     18  2461   500
2      Minotaur            265             123     25  2705     0
3         Saber            265             121     17  2475   443
4         Roger            235             120     22  2580   450
5          Nana            250             110     17  2325   499
6          Akai            260             115     24  2769   422
7         Alice            240             109     21  2397   493
8         Alpha            236             121     20  2646   453
9       Alucard            265             118     21  2593     0
10        Argus            260             124     21  2628     0
11       Aurora            245             105     17  2441   500
12      Balmond            265             114     23  2602     0
13         Bane            265             117     23  2625   433
14        Bruno            240             116     17  2402   439
15         Chou            265             121     23  2598     0
16        Clint            248             122     20  2500   450
17       Diggie            250             115     16  2351   490
18        Estes            240             115     13  2161   545
19       Eudora            250             112     19  2524   468
20        Fanny            270             126     17  2402     0
21       Franco            255             116     25  2575   440
22        Freya            265             109     22  2673   462
23    Gatotkaca            260             120     20  2709   440
24         Gord            240             105     13  2302   570
25        Grock            260             135     21  2819   430
26       Harley            240             114     19  2501   490
27     Hayabusa            265             114     17  2555   479
28       Helcur            255             121     17  2599   440
29        Hilda            260             123     24  2909     0
30        Hylos            260             105     17  3309   430
31      Irithel            250             110     17  2540   438
32      Johnson            255             112     27  2809     0
33       Kagura            240             113     19  2380   519
34       Karina            265             121     20  2505   431
35       Karrie            240             112     17  2498   440
36     Lancelot            260             124     16  2546   450
37    Lapu-lapu            260             119     21  2628     0
38       Lolita            265             115     27  2545     0
39         Miya            235             114     17  2404   445
40       Moskov            240             125     16  2530   420
41      Natalia            265             121     18  2465   486
42       Odette            240             105     18  2491   495
43       Pharsa            240             109     15  2421   490
44      Rafaela            245             112     15  2265   545
45         Ruby            265             114     23  2709   430
46   Sun Wukong            265             114     23  2630   400
47      Tigreal            265             112     25  2756   450
48       Vexana            245             112     17  2421   490
49  Yi Sun-Shin            240             110     18  2520   438
50     Yun Zhao            270             123     25  2561   405
51        Zhask            240             107     15  2401   490

In [5]:
import pandas as pd

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

           name  movementSpeed  physicalAttack  armor    hp  mana
0         Layla            270             118     15  2500   424
1       Cyclops            250             107     18  2461   500
2      Minotaur            265             123     25  2705     0
3         Saber            265             121     17  2475   443
4         Roger            235             120     22  2580   450
5          Nana            250             110     17  2325   499
6          Akai            260             115     24  2769   422
7         Alice            240             109     21  2397   493
8         Alpha            236             121     20  2646   453
9       Alucard            265             118     21  2593     0
10        Argus            260             124     21  2628     0
11       Aurora            245             105     17  2441   500
12      Balmond            265             114     23  2602     0
13         Bane            265             117     23  2625   433
14        Bruno            240             116     17  2402   439
15         Chou            265             121     23  2598     0
16        Clint            248             122     20  2500   450
17       Diggie            250             115     16  2351   490
18        Estes            240             115     13  2161   545
19       Eudora            250             112     19  2524   468
20        Fanny            270             126     17  2402     0
21       Franco            255             116     25  2575   440
22        Freya            265             109     22  2673   462
23    Gatotkaca            260             120     20  2709   440
24         Gord            240             105     13  2302   570
25        Grock            260             135     21  2819   430
26       Harley            240             114     19  2501   490
27     Hayabusa            265             114     17  2555   479
28       Helcur            255             121     17  2599   440
29        Hilda            260             123     24  2909     0
30        Hylos            260             105     17  3309   430
31      Irithel            250             110     17  2540   438
32      Johnson            255             112     27  2809     0
33       Kagura            240             113     19  2380   519
34       Karina            265             121     20  2505   431
35       Karrie            240             112     17  2498   440
36     Lancelot            260             124     16  2546   450
37    Lapu-lapu            260             119     21  2628     0
38       Lolita            265             115     27  2545     0
39         Miya            235             114     17  2404   445
40       Moskov            240             125     16  2530   420
41      Natalia            265             121     18  2465   486
42       Odette            240             105     18  2491   495
43       Pharsa            240             109     15  2421   490
44      Rafaela            245             112     15  2265   545
45         Ruby            265             114     23  2709   430
46   Sun Wukong            265             114     23  2630   400
47      Tigreal            265             112     25  2756   450
48       Vexana            245             112     17  2421   490
49  Yi Sun-Shin            240             110     18  2520   438
50     Yun Zhao            270             123     25  2561   405
51        Zhask            240             107     15  2401   490

In [6]:
import pandas as pd

df = pd.read_csv('D://test.csv')
df.name
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

0           Layla
1         Cyclops
2        Minotaur
3           Saber
4           Roger
5            Nana
6            Akai
7           Alice
8           Alpha
9         Alucard
10          Argus
11         Aurora
12        Balmond
13           Bane
14          Bruno
15           Chou
16          Clint
17         Diggie
18          Estes
19         Eudora
20          Fanny
21         Franco
22          Freya
23      Gatotkaca
24           Gord
25          Grock
26         Harley
27       Hayabusa
28         Helcur
29          Hilda
30          Hylos
31        Irithel
32        Johnson
33         Kagura
34         Karina
35         Karrie
36       Lancelot
37      Lapu-lapu
38         Lolita
39           Miya
40         Moskov
41        Natalia
42         Odette
43         Pharsa
44        Rafaela
45           Ruby
46     Sun Wukong
47        Tigreal
48         Vexana
49    Yi Sun-Shin
50       Yun Zhao
51          Zhask
Name: name, dtype: object

In [7]:
import pandas as pd

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

nama = df.name
for i in nama:
    print(i)

Layla
Cyclops
Minotaur
Saber
Roger
Nana
Akai
Alice
Alpha
Alucard
Argus
Aurora
Balmond
Bane
Bruno
Chou
Clint
Diggie
Estes
Eudora
Fanny
Franco
Freya
Gatotkaca
Gord
Grock
Harley
Hayabusa
Helcur
Hilda
Hylos
Irithel
Johnson
Kagura
Karina
Karrie
Lancelot
Lapu-lapu
Lolita
Miya
Moskov
Natalia
Odette
Pharsa
Rafaela
Ruby
Sun Wukong
Tigreal
Vexana
Yi Sun-Shin
Yun Zhao
Zhask

In [8]:
import pandas as pd

df = pd.read_csv('D://test.csv')
df.length
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

AttributeError: 'DataFrame' object has no attribute 'length'

In [9]:
import pandas as pd

df = pd.read_csv('D://test.csv')
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

iterasi = 0
for i in df:
    iterasi += 1

iterasi

6

In [10]:
import pandas as pd

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

nama = df.name
iterasi = 0
for i in nama:
    iterasi = iterasi + 1
    
print(iterasi)

52

In [11]:
import pandas as pd

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

nama = df.name
iterasi = -1
for i in nama:
    iterasi = iterasi + 1
    
print(iterasi)

51

In [12]:
import pandas as pd

df = pd.read_csv('D://test.csv')
print(len(df))
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

52

In [13]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)

    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

nama = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana

heroes = Heroes()

# heroes.inputHero("Layla", 270, 118, 15, 2500, 424)
# heroes.inputHero("Cyclops", 250, 107, 18, 2461, 500)
# heroes.inputHero("Minotaur", 265, 123, 25, 2705, 0)
# heroes.inputHero("Saber", 265, 121, 17, 2475, 443)
# heroes.inputHero("Roger", 235, 120, 22, 2580, 450)
# heroes.inputHero("Nana", 250, 110, 17, 2325, 499)

for i in range(0, len(df)):
    heroes.inputHero(nama[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])

heroes.info()

Name, Role
Layla ,  MARKSMAN
Cyclops ,  MAGE
Minotaur ,  TANK
Saber ,  ASSASSIN
Roger ,  FIGHTER
Nana ,  SUPPORT
Akai ,  FIGHTER
Alice ,  SUPPORT
Alpha ,  ASSASSIN
Alucard ,  FIGHTER
Argus ,  ASSASSIN
Aurora ,  MAGE
Balmond ,  FIGHTER
Bane ,  FIGHTER
Bruno ,  SUPPORT
Chou ,  ASSASSIN
Clint ,  ASSASSIN
Diggie ,  SUPPORT
Estes ,  MAGE
Eudora ,  SUPPORT
Fanny ,  MARKSMAN
Franco ,  TANK
Freya ,  FIGHTER
Gatotkaca ,  FIGHTER
Gord ,  MAGE
Grock ,  ASSASSIN
Harley ,  SUPPORT
Hayabusa ,  SUPPORT
Helcur ,  ASSASSIN
Hilda ,  ASSASSIN
Hylos ,  FIGHTER
Irithel ,  SUPPORT
Johnson ,  TANK
Kagura ,  MAGE
Karina ,  ASSASSIN
Karrie ,  SUPPORT
Lancelot ,  ASSASSIN
Lapu-lapu ,  FIGHTER
Lolita ,  TANK
Miya ,  SUPPORT
Moskov ,  ASSASSIN
Natalia ,  ASSASSIN
Odette ,  SUPPORT
Pharsa ,  SUPPORT
Rafaela ,  MAGE
Ruby ,  FIGHTER
Sun Wukong ,  FIGHTER
Tigreal ,  TANK
Vexana ,  SUPPORT
Yi Sun-Shin ,  SUPPORT
Yun Zhao ,  MARKSMAN
Zhask ,  SUPPORT

In [14]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)

    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

nama = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana

heroes = Heroes()

# heroes.inputHero("Layla", 270, 118, 15, 2500, 424)
# heroes.inputHero("Cyclops", 250, 107, 18, 2461, 500)
# heroes.inputHero("Minotaur", 265, 123, 25, 2705, 0)
# heroes.inputHero("Saber", 265, 121, 17, 2475, 443)
# heroes.inputHero("Roger", 235, 120, 22, 2580, 450)
# heroes.inputHero("Nana", 250, 110, 17, 2325, 499)

for i in range(0, len(df)):
	heroes.inputHero(nama[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
	
heroes.info()

Name, Role
Layla ,  MARKSMAN
Cyclops ,  MAGE
Minotaur ,  TANK
Saber ,  ASSASSIN
Roger ,  FIGHTER
Nana ,  SUPPORT
Akai ,  FIGHTER
Alice ,  SUPPORT
Alpha ,  ASSASSIN
Alucard ,  FIGHTER
Argus ,  ASSASSIN
Aurora ,  MAGE
Balmond ,  FIGHTER
Bane ,  FIGHTER
Bruno ,  SUPPORT
Chou ,  ASSASSIN
Clint ,  ASSASSIN
Diggie ,  SUPPORT
Estes ,  MAGE
Eudora ,  SUPPORT
Fanny ,  MARKSMAN
Franco ,  TANK
Freya ,  FIGHTER
Gatotkaca ,  FIGHTER
Gord ,  MAGE
Grock ,  ASSASSIN
Harley ,  SUPPORT
Hayabusa ,  SUPPORT
Helcur ,  ASSASSIN
Hilda ,  ASSASSIN
Hylos ,  FIGHTER
Irithel ,  SUPPORT
Johnson ,  TANK
Kagura ,  MAGE
Karina ,  ASSASSIN
Karrie ,  SUPPORT
Lancelot ,  ASSASSIN
Lapu-lapu ,  FIGHTER
Lolita ,  TANK
Miya ,  SUPPORT
Moskov ,  ASSASSIN
Natalia ,  ASSASSIN
Odette ,  SUPPORT
Pharsa ,  SUPPORT
Rafaela ,  MAGE
Ruby ,  FIGHTER
Sun Wukong ,  FIGHTER
Tigreal ,  TANK
Vexana ,  SUPPORT
Yi Sun-Shin ,  SUPPORT
Yun Zhao ,  MARKSMAN
Zhask ,  SUPPORT

In [15]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

nama = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana

heroes = Heroes()

# heroes.inputHero("Layla", 270, 118, 15, 2500, 424)
# heroes.inputHero("Cyclops", 250, 107, 18, 2461, 500)
# heroes.inputHero("Minotaur", 265, 123, 25, 2705, 0)
# heroes.inputHero("Saber", 265, 121, 17, 2475, 443)
# heroes.inputHero("Roger", 235, 120, 22, 2580, 450)
# heroes.inputHero("Nana", 250, 110, 17, 2325, 499)

for i in range(0, len(df)):
	heroes.inputHero(nama[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
	
heroes.info()

Name, Role
Layla ,  MARKSMAN
Cyclops ,  MAGE
Minotaur ,  TANK
Saber ,  ASSASSIN
Roger ,  FIGHTER
Nana ,  SUPPORT
Akai ,  FIGHTER
Alice ,  SUPPORT
Alpha ,  ASSASSIN
Alucard ,  FIGHTER
Argus ,  ASSASSIN
Aurora ,  MAGE
Balmond ,  FIGHTER
Bane ,  FIGHTER
Bruno ,  SUPPORT
Chou ,  ASSASSIN
Clint ,  ASSASSIN
Diggie ,  SUPPORT
Estes ,  MAGE
Eudora ,  SUPPORT
Fanny ,  MARKSMAN
Franco ,  TANK
Freya ,  FIGHTER
Gatotkaca ,  FIGHTER
Gord ,  MAGE
Grock ,  ASSASSIN
Harley ,  SUPPORT
Hayabusa ,  SUPPORT
Helcur ,  ASSASSIN
Hilda ,  ASSASSIN
Hylos ,  FIGHTER
Irithel ,  SUPPORT
Johnson ,  TANK
Kagura ,  MAGE
Karina ,  ASSASSIN
Karrie ,  SUPPORT
Lancelot ,  ASSASSIN
Lapu-lapu ,  FIGHTER
Lolita ,  TANK
Miya ,  SUPPORT
Moskov ,  ASSASSIN
Natalia ,  ASSASSIN
Odette ,  SUPPORT
Pharsa ,  SUPPORT
Rafaela ,  MAGE
Ruby ,  FIGHTER
Sun Wukong ,  FIGHTER
Tigreal ,  TANK
Vexana ,  SUPPORT
Yi Sun-Shin ,  SUPPORT
Yun Zhao ,  MARKSMAN
Zhask ,  SUPPORT

In [16]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

nama = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(nama[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))
    
for i in role:
    print(i)

MARKSMAN
MAGE
TANK
ASSASSIN
FIGHTER
SUPPORT
FIGHTER
SUPPORT
ASSASSIN
FIGHTER
ASSASSIN
MAGE
FIGHTER
FIGHTER
SUPPORT
ASSASSIN
ASSASSIN
SUPPORT
MAGE
SUPPORT
MARKSMAN
TANK
FIGHTER
FIGHTER
MAGE
ASSASSIN
SUPPORT
SUPPORT
ASSASSIN
ASSASSIN
FIGHTER
SUPPORT
TANK
MAGE
ASSASSIN
SUPPORT
ASSASSIN
FIGHTER
TANK
SUPPORT
ASSASSIN
ASSASSIN
SUPPORT
SUPPORT
MAGE
FIGHTER
FIGHTER
TANK
SUPPORT
SUPPORT
MARKSMAN
SUPPORT

In [17]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {name, 
        movement_speed, 
        physical_attack, 
        armor,
        hp,
        mana,
        role}
df = pd.DataFrame(raw_data, columns = ['name', 'movement_speed', 'physical_attack', 'armor', 'hp', 'mana', 'role'])
df

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [18]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {name, 
        movement_speed, 
        physical_attack, 
        armor,
        hp,
        mana,
        role}
dfs = pd.DataFrame(raw_data, columns = ['name', 'movement_speed', 'physical_attack', 'armor', 'hp', 'mana', 'role'])
dfs

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [19]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {'name': name, 
        'movement_Speed': movement_speed, 
        'physical_attack': physical_attack, 
        'armor': armor,
        'hp': hp,
        'mana': mana,
        'role': role}
df = pd.DataFrame(raw_data, columns = ['name', 'movement_speed', 'physical_attack', 'armor', 'hp', 'mana', 'role'])
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

           name movement_speed  physical_attack  armor    hp  mana      role
0         Layla            NaN              118     15  2500   424  MARKSMAN
1       Cyclops            NaN              107     18  2461   500      MAGE
2      Minotaur            NaN              123     25  2705     0      TANK
3         Saber            NaN              121     17  2475   443  ASSASSIN
4         Roger            NaN              120     22  2580   450   FIGHTER
5          Nana            NaN              110     17  2325   499   SUPPORT
6          Akai            NaN              115     24  2769   422   FIGHTER
7         Alice            NaN              109     21  2397   493   SUPPORT
8         Alpha            NaN              121     20  2646   453  ASSASSIN
9       Alucard            NaN              118     21  2593     0   FIGHTER
10        Argus            NaN              124     21  2628     0  ASSASSIN
11       Aurora            NaN              105     17  2441   500      MAGE
12      Balmond            NaN              114     23  2602     0   FIGHTER
13         Bane            NaN              117     23  2625   433   FIGHTER
14        Bruno            NaN              116     17  2402   439   SUPPORT
15         Chou            NaN              121     23  2598     0  ASSASSIN
16        Clint            NaN              122     20  2500   450  ASSASSIN
17       Diggie            NaN              115     16  2351   490   SUPPORT
18        Estes            NaN              115     13  2161   545      MAGE
19       Eudora            NaN              112     19  2524   468   SUPPORT
20        Fanny            NaN              126     17  2402     0  MARKSMAN
21       Franco            NaN              116     25  2575   440      TANK
22        Freya            NaN              109     22  2673   462   FIGHTER
23    Gatotkaca            NaN              120     20  2709   440   FIGHTER
24         Gord            NaN              105     13  2302   570      MAGE
25        Grock            NaN              135     21  2819   430  ASSASSIN
26       Harley            NaN              114     19  2501   490   SUPPORT
27     Hayabusa            NaN              114     17  2555   479   SUPPORT
28       Helcur            NaN              121     17  2599   440  ASSASSIN
29        Hilda            NaN              123     24  2909     0  ASSASSIN
30        Hylos            NaN              105     17  3309   430   FIGHTER
31      Irithel            NaN              110     17  2540   438   SUPPORT
32      Johnson            NaN              112     27  2809     0      TANK
33       Kagura            NaN              113     19  2380   519      MAGE
34       Karina            NaN              121     20  2505   431  ASSASSIN
35       Karrie            NaN              112     17  2498   440   SUPPORT
36     Lancelot            NaN              124     16  2546   450  ASSASSIN
37    Lapu-lapu            NaN              119     21  2628     0   FIGHTER
38       Lolita            NaN              115     27  2545     0      TANK
39         Miya            NaN              114     17  2404   445   SUPPORT
40       Moskov            NaN              125     16  2530   420  ASSASSIN
41      Natalia            NaN              121     18  2465   486  ASSASSIN
42       Odette            NaN              105     18  2491   495   SUPPORT
43       Pharsa            NaN              109     15  2421   490   SUPPORT
44      Rafaela            NaN              112     15  2265   545      MAGE
45         Ruby            NaN              114     23  2709   430   FIGHTER
46   Sun Wukong            NaN              114     23  2630   400   FIGHTER
47      Tigreal            NaN              112     25  2756   450      TANK
48       Vexana            NaN              112     17  2421   490   SUPPORT
49  Yi Sun-Shin            NaN              110     18  2520   438   SUPPORT
50     Yun Zhao            NaN              123     25  2561   405  MARKSMAN
51        Zhask            NaN              107     15  2401   490   SUPPORT

In [20]:
import pandas as pd

df = pd.read_csv('D://test.csv')
df.movementSpeed
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

0     270
1     250
2     265
3     265
4     235
5     250
6     260
7     240
8     236
9     265
10    260
11    245
12    265
13    265
14    240
15    265
16    248
17    250
18    240
19    250
20    270
21    255
22    265
23    260
24    240
25    260
26    240
27    265
28    255
29    260
30    260
31    250
32    255
33    240
34    265
35    240
36    260
37    260
38    265
39    235
40    240
41    265
42    240
43    240
44    245
45    265
46    265
47    265
48    245
49    240
50    270
51    240
Name: movementSpeed, dtype: int64

In [21]:
import pandas as pd

df = pd.read_csv('D://test.csv')

movement_speed = df.movementSpeed
for i in movement_speed:
    print(i)
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

270
250
265
265
235
250
260
240
236
265
260
245
265
265
240
265
248
250
240
250
270
255
265
260
240
260
240
265
255
260
260
250
255
240
265
240
260
260
265
235
240
265
240
240
245
265
265
265
245
240
270
240

In [22]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {'name': name, 
        'movement_speed': movement_speed, 
        'physical_attack': physical_attack, 
        'armor': armor,
        'hp': hp,
        'mana': mana,
        'role': role}
df = pd.DataFrame(raw_data, columns = ['name', 'movement_speed', 'physical_attack', 'armor', 'hp', 'mana', 'role'])
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

           name movement_speed  physical_attack  armor    hp  mana      role
0         Layla            NaN              118     15  2500   424  MARKSMAN
1       Cyclops            NaN              107     18  2461   500      MAGE
2      Minotaur            NaN              123     25  2705     0      TANK
3         Saber            NaN              121     17  2475   443  ASSASSIN
4         Roger            NaN              120     22  2580   450   FIGHTER
5          Nana            NaN              110     17  2325   499   SUPPORT
6          Akai            NaN              115     24  2769   422   FIGHTER
7         Alice            NaN              109     21  2397   493   SUPPORT
8         Alpha            NaN              121     20  2646   453  ASSASSIN
9       Alucard            NaN              118     21  2593     0   FIGHTER
10        Argus            NaN              124     21  2628     0  ASSASSIN
11       Aurora            NaN              105     17  2441   500      MAGE
12      Balmond            NaN              114     23  2602     0   FIGHTER
13         Bane            NaN              117     23  2625   433   FIGHTER
14        Bruno            NaN              116     17  2402   439   SUPPORT
15         Chou            NaN              121     23  2598     0  ASSASSIN
16        Clint            NaN              122     20  2500   450  ASSASSIN
17       Diggie            NaN              115     16  2351   490   SUPPORT
18        Estes            NaN              115     13  2161   545      MAGE
19       Eudora            NaN              112     19  2524   468   SUPPORT
20        Fanny            NaN              126     17  2402     0  MARKSMAN
21       Franco            NaN              116     25  2575   440      TANK
22        Freya            NaN              109     22  2673   462   FIGHTER
23    Gatotkaca            NaN              120     20  2709   440   FIGHTER
24         Gord            NaN              105     13  2302   570      MAGE
25        Grock            NaN              135     21  2819   430  ASSASSIN
26       Harley            NaN              114     19  2501   490   SUPPORT
27     Hayabusa            NaN              114     17  2555   479   SUPPORT
28       Helcur            NaN              121     17  2599   440  ASSASSIN
29        Hilda            NaN              123     24  2909     0  ASSASSIN
30        Hylos            NaN              105     17  3309   430   FIGHTER
31      Irithel            NaN              110     17  2540   438   SUPPORT
32      Johnson            NaN              112     27  2809     0      TANK
33       Kagura            NaN              113     19  2380   519      MAGE
34       Karina            NaN              121     20  2505   431  ASSASSIN
35       Karrie            NaN              112     17  2498   440   SUPPORT
36     Lancelot            NaN              124     16  2546   450  ASSASSIN
37    Lapu-lapu            NaN              119     21  2628     0   FIGHTER
38       Lolita            NaN              115     27  2545     0      TANK
39         Miya            NaN              114     17  2404   445   SUPPORT
40       Moskov            NaN              125     16  2530   420  ASSASSIN
41      Natalia            NaN              121     18  2465   486  ASSASSIN
42       Odette            NaN              105     18  2491   495   SUPPORT
43       Pharsa            NaN              109     15  2421   490   SUPPORT
44      Rafaela            NaN              112     15  2265   545      MAGE
45         Ruby            NaN              114     23  2709   430   FIGHTER
46   Sun Wukong            NaN              114     23  2630   400   FIGHTER
47      Tigreal            NaN              112     25  2756   450      TANK
48       Vexana            NaN              112     17  2421   490   SUPPORT
49  Yi Sun-Shin            NaN              110     18  2520   438   SUPPORT
50     Yun Zhao            NaN              123     25  2561   405  MARKSMAN
51        Zhask            NaN              107     15  2401   490   SUPPORT

In [23]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {'name': name, 
        'movement_speed': movement_speed, 
        'physical_attack': physical_attack, 
        'armor': armor,
        'hp': hp,
        'mana': mana,
        'role': role}
df = pd.DataFrame(raw_data, columns = ['name', 'movement_speed', 'physical_attack', 'armor', 'hp', 'mana', 'role'])
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

           name  movement_speed  physical_attack  armor    hp  mana      role
0         Layla             270              118     15  2500   424  MARKSMAN
1       Cyclops             250              107     18  2461   500      MAGE
2      Minotaur             265              123     25  2705     0      TANK
3         Saber             265              121     17  2475   443  ASSASSIN
4         Roger             235              120     22  2580   450   FIGHTER
5          Nana             250              110     17  2325   499   SUPPORT
6          Akai             260              115     24  2769   422   FIGHTER
7         Alice             240              109     21  2397   493   SUPPORT
8         Alpha             236              121     20  2646   453  ASSASSIN
9       Alucard             265              118     21  2593     0   FIGHTER
10        Argus             260              124     21  2628     0  ASSASSIN
11       Aurora             245              105     17  2441   500      MAGE
12      Balmond             265              114     23  2602     0   FIGHTER
13         Bane             265              117     23  2625   433   FIGHTER
14        Bruno             240              116     17  2402   439   SUPPORT
15         Chou             265              121     23  2598     0  ASSASSIN
16        Clint             248              122     20  2500   450  ASSASSIN
17       Diggie             250              115     16  2351   490   SUPPORT
18        Estes             240              115     13  2161   545      MAGE
19       Eudora             250              112     19  2524   468   SUPPORT
20        Fanny             270              126     17  2402     0  MARKSMAN
21       Franco             255              116     25  2575   440      TANK
22        Freya             265              109     22  2673   462   FIGHTER
23    Gatotkaca             260              120     20  2709   440   FIGHTER
24         Gord             240              105     13  2302   570      MAGE
25        Grock             260              135     21  2819   430  ASSASSIN
26       Harley             240              114     19  2501   490   SUPPORT
27     Hayabusa             265              114     17  2555   479   SUPPORT
28       Helcur             255              121     17  2599   440  ASSASSIN
29        Hilda             260              123     24  2909     0  ASSASSIN
30        Hylos             260              105     17  3309   430   FIGHTER
31      Irithel             250              110     17  2540   438   SUPPORT
32      Johnson             255              112     27  2809     0      TANK
33       Kagura             240              113     19  2380   519      MAGE
34       Karina             265              121     20  2505   431  ASSASSIN
35       Karrie             240              112     17  2498   440   SUPPORT
36     Lancelot             260              124     16  2546   450  ASSASSIN
37    Lapu-lapu             260              119     21  2628     0   FIGHTER
38       Lolita             265              115     27  2545     0      TANK
39         Miya             235              114     17  2404   445   SUPPORT
40       Moskov             240              125     16  2530   420  ASSASSIN
41      Natalia             265              121     18  2465   486  ASSASSIN
42       Odette             240              105     18  2491   495   SUPPORT
43       Pharsa             240              109     15  2421   490   SUPPORT
44      Rafaela             245              112     15  2265   545      MAGE
45         Ruby             265              114     23  2709   430   FIGHTER
46   Sun Wukong             265              114     23  2630   400   FIGHTER
47      Tigreal             265              112     25  2756   450      TANK
48       Vexana             245              112     17  2421   490   SUPPORT
49  Yi Sun-Shin             240              110     18  2520   438   SUPPORT
50     Yun Zhao             270              123     25  2561   405  MARKSMAN
51        Zhask             240              107     15  2401   490   SUPPORT

In [24]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {'name': name, 
        'movement_speed': movement_speed, 
        'physical_attack': physical_attack, 
        'armor': armor,
        'hp': hp,
        'mana': mana,
        'role': role}
df = pd.DataFrame(raw_data, columns = ['name', 'movement_speed', 'physical_attack', 'armor', 'hp', 'mana', 'role'])
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

df.to_csv('D://hasil.csv')
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

In [25]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {'name': name,
        'role': role}
df = pd.DataFrame(raw_data, columns = ['name', 'movement_speed', 'physical_attack', 'armor', 'hp', 'mana', 'role'])
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

df.to_csv('D://prediction.csv')
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

In [26]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {'name': name,
        'role': role}
df = pd.DataFrame(raw_data, columns = ['name', 'movement_speed', 'physical_attack', 'armor', 'hp', 'mana', 'role'])
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

df.to_csv('D://prediction.csv')
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

PermissionError: [Errno 13] Permission denied: 'D://prediction.csv'

In [27]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {'name': name,
        'role': role}
df = pd.DataFrame(raw_data, columns = ['name', 'role'])
df
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

df.to_csv('D://prediction.csv')
# sumber: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

In [29]:
import pandas as pd

class Hero:
    # name, movement speed, physical attack, armor, hp, mana

    def __init__(self, name, movement_speed, physical_attack, armor, hp, mana):
        self.name = name
        self.movement_speed = movement_speed
        self.physical_attack = physical_attack
        self.armor = armor
        self.hp = hp
        self.mana = mana
        self.role = ""

    def inputRole(self):
        if self.movement_speed >= 270:
            self.role = "MARKSMAN"
        elif self.mana >= 500:
            self.role = "MAGE"
        elif self.armor >= 25:
            self.role = "TANK"
        elif self.physical_attack >= 121:
            self.role = "ASSASSIN"
        elif self.hp >= 2580:
            self.role = "FIGHTER"
        else:
            self.role = "SUPPORT"
            
    def getRole(self):
        return self.role

    def info(self):
        print(self.name, ", ", self.role)

# end class

class Heroes:
    hero = []

    def inputHero(self, name, movement_speed, physical_attack, armor, hp, mana):
        h1 = Hero(name, movement_speed, physical_attack, armor, hp, mana)
        h1.inputRole()
        self.hero.append(h1)
        
    def getRole(self, angka):
        return self.hero[angka].getRole()
    
    def info(self):
        print("Name, Role")
        for i in range(0, len(self.hero)):
            self.hero[i].info()

# end class

df = pd.read_csv('D://test.csv')
df
# referensi: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

name = df.name
movement_speed = df.movementSpeed
physical_attack = df.physicalAttack
armor = df.armor
hp = df.hp
mana = df.mana
role = []

heroes = Heroes()

for i in range(0, len(df)):
    heroes.inputHero(name[i], movement_speed[i], physical_attack[i], armor[i], hp[i], mana[i])
    role.append(heroes.getRole(i))

raw_data = {'name': name,
        'role': role}
df = pd.DataFrame(raw_data, columns = ['name', 'role'])
df
# referensi: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

df.to_csv('D://prediction.csv', index=False)
# referensi: https://stackoverflow.com/questions/20845213/how-to-avoid-python-pandas-creating-an-index-in-a-saved-csv